body {
  color: rgb(36, 33, 87);
  background-color: #dbe7e7;  
  background-color: linear-gradient lightseagreen;
  padding-top: 3rem;
}

.navbar-custom{
 background: rgb(127, 219, 255);
}

nav ul {
  margin-top: 0;
  margin-bottom: 0;
}


footer{
  color: teal;
}

.dropdown {
  margin-left: 3rem
}

#modalTrigger {
  margin-left: 1rem;
}

.modal-backdrop {
  z-index: -1;
}

